* {
  text-align: center;
  color: white;
}

body {
  background-color: #2e3440;
}

img {
  margin: auto;
  display: block;
}

h3 {
  text-decoration-line: underline;
  color: red;
}
